.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  margin-bottom: 1rem;
  width: 110px;
}

h1 {
  font-size: 36px;
  color: #fff;
  font-family: "Righteous", cursive;
}

.logo2 {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.logo2 img {
  width: 50px;
  margin-right: 1rem;
}

.input {
  width: 246px;
  height: 43px;
  margin-top: 20px;
  background: #FFFFFF;
  border: none;
  border-radius: 5px;
  text-align: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #ADADAD;
}