.cards {
    width: 100%;
    min-height: 100vh;
    background-color: #fb6b6b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
  }
  
  ion-icon {
    font-size: 1.5rem;
  }
  
  .flashcards {
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .flashcard {
    font-family: "Recursive", sans-serif;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    width: 70%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .wrong,
  .almost,
  .correct {
    font-family: "Recursive", sans-serif;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    width: 70%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: #fff;
    text-decoration: line-through;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .wrong,
  ion-icon[name="close-circle-sharp"] {
    color: #ff3030;
  }
  
  .almost,
  ion-icon[name="help-circle-sharp"] {
    color: #ff922e;
  }
  
  .correct,
  ion-icon[name="checkmark-circle-sharp"] {
    color: #2fbe34;
  }
  
  .wrong,
  .almost,
  .correct ion-icon {
    font-weight: bold;
  }
  
  .pergunta {
    position: relative;
    font-family: "Recursive", sans-serif;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    width: 70%;
    min-height: 150px;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: #ffffd4;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .pergunta ion-icon,
  .seta-mostrar-opcoes {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .options {
    width: 96%;
    margin: 0 auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 5px;
    right: 2%;
  }
  
  .options p {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%;
    height: 40px;
    padding: 5px;
    color: #fff;
    border-radius: 3px;
  }
  
  .level-wrong {
    background-color: #ff3030;
  }
  
  .level-almost {
    background-color: #ff922e;
  }
  
  .level-correct {
    background-color: #2fbe34;
  }
  