.footer {
  background-color: aliceblue;
  color: #333;
  padding: 1rem 0.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: "Recursive", sans-serif;
  text-align: center;
}

.resultado {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}

.resultado div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.resultado div p {
  margin-left: 0.5rem;
  font-weight: bold;
}
